/* tipografia */

/* selector universal*/
*{
    margin: 0;
    padding: 0;
    
}
.head{
    display: inline;
    text-align: end;
}
/*selector por id*/
#BIENVENIDO{
    margin: 20px;
    margin-bottom: 0;
    font-size: 60px;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 12, 12);
    font-weight: 1100;
    text-transform: uppercase;
    text-align: start;

}
#world{
    
    background-color: black;
    margin: 20px 20px 0px 20px;
}



#login{
    color: rgb(0, 0, 0);
    text-align: right;
    text-align: end;
    margin-right: 20px;
}

#img1{
    margin: 20px;
    display: inline-flex; 
 justify-content: space-around  ;
 text-decoration: none;
 
  
}
.torneosdiv{
margin: 20px;
 display: inline-flex;
 justify-content: space-around;
 text-decoration: none;
 
}
.des1{
    display: inline;
}

#RANKING{
    margin-left: 200px;
    margin-top: 200px;
    display: inline-flex;
}

.table{
    
    justify-content: right;
   border-collapse: collapse;
    border: 3px solid black;
    color: aliceblue;
    text-align: center;
    margin: 50PX;

    background-color: rgba(0, 0, 255, 0.322);

    background-size: 290px;

}

tr{
    border: 2px solid rgb(255, 255, 255);
}

td{
    border: 2px solid white;
}
th{
    color: black;
}